In [164]:

#dropping the first row for all the dataframes
# seperate into multiple dataframes by timeframes
# drop all Nan rows
# conduct the correlation analysis and other EDA formats-By the end of the weekend
'''
!git clone https://github.com/Adnan-Anwar-Data-enthusiast/Currency-speculation.git
'''

'\n!git clone https://github.com/Adnan-Anwar-Data-enthusiast/Currency-speculation.git\n'

In [165]:
!pip install numpy pandas
!pip install openpyxl #attribute to install excel reading
import pandas as pd
import numpy as np

Requirement already satisfied: numpy in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.3.2)
Requirement already satisfied: pandas in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: C:\Users\Admin\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip
ERROR: Invalid requirement: '#attribute'

[notice] A new release of pip is available: 24.0 -> 25.2
[notice] To update, run: C:\Users\Admin\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [166]:
import os 
print(os.getcwd())

C:\Users\Admin\AppData\Local\Programs\Microsoft VS Code

In [167]:
df_whole = pd.read_excel(r'C:\Users\Admin\OneDrive - Global Institutional Advisors\Desktop\Currency-speculation\Currency swaps data.xlsx')
with pd.ExcelFile(r'C:\Users\Admin\OneDrive - Global Institutional Advisors\Desktop\Currency-speculation\Currency swaps data.xlsx') as xls:
    df_USDJPY = pd.read_excel(xls, 'USDJPY')
    df_USDCHF = pd.read_excel(xls, 'USDCHF')
    df_USDGBP = pd.read_excel(xls, 'USDGBP')
    df_USDEUR = pd.read_excel(xls,'USDEUR')
    df_USDINR = pd.read_excel(xls,'USDINR')
    df_XAUUSD = pd.read_excel(xls,'XAUUSD')
df_USDJPY.head(n=20)
df_list = [df_USDJPY, df_USDCHF, df_USDGBP, df_USDEUR, df_USDINR, df_XAUUSD]

In [168]:
#cleaning missing data. In my method i seperated the initial currency dataframe into 5 seperate data frames. Now since pandas does does not recognize
# different timegframes, i have to fill in my data and clean the missing data from each time frame across all the swaps

In [169]:

df_USDJPY['USDJPY Curncy'].rename('USDJPY_1W')
df_USDJPY['USDJPY Curncy.2'].rename('USDJPY_1M')

def rename_columns(df,str_column_name, str_new_name):
    time_periods = ['1W', '1M', '1Q', '1Y', '2Y', '5Y', '10Y', '15Y', '20Y']
    for i in range(8):
        if '.1' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[1])
        if '.2' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[2])
        if '.3' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[3])
        if '.4' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[4])
        if '.5' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[5])
        if '.6' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[6])
        if '.7' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[7])
        if '.8' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[8])
            
        else: 
            df[str_column_name].rename(str_new_name + time_periods[0])
            
    new = rename_columns(df_USDJPY,'USDJPY Curncy.6', 'USDJPY')
    print(new)
'''
Now find a way to parse through the columns in the pandas dataframe
'''

def rename_columns(df, str_pair_currency):
    for i in range(8):
        str_pair_currency + '.' + str(i+1)

In [170]:
def rename_column(df, str_column_name, str_new_name):
    time_periods = ['1W', '1M', '1Q', '1Y', '2Y', '5Y', '10Y', '15Y', '20Y']
    
    # Match suffix and assign new name accordingly
    for i in range(1, 9):
        if f'.{i}' in str_column_name:
            new_col_name = str_new_name + '_' + time_periods[i]
            df.rename(columns={str_column_name: new_col_name}, inplace=True)
            return df
            

    # If no .1 to .8 is found, assume it's the first (base) column
    df.rename(columns={str_column_name: str_new_name + '_' + time_periods[0]}, inplace=True)
    return df



'''
rename_column(df_USDJPY,'USDJPY Curncy.1', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.2', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.3', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.4', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.5', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.6', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.7', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.8', 'USDJPY')

print(df_USDJPY)

# function for calling the rename functions across all the swaps

def call_rename(df, str_swap):
    for i in range(9):
        rename_column(df, f'{str_swap}.{i}', 'str_swap')
        
        for _ in range(9):
            return rename_column

print(call_rename(df_USDCHF, 'USDCHF Curncy'))


# possible reasons
# 1. After calling the first function rename_column, the changes arent being stored
# 2. After calling call_rename, call_rename is not returning the dataframe properly
# 


for i in range(8):
        print('USDJPY')

for j in range(9):
    print(f'USDJPY.{j}')
'''

"\nrename_column(df_USDJPY,'USDJPY Curncy.1', 'USDJPY')\nrename_column(df_USDJPY,'USDJPY Curncy.2', 'USDJPY')\nrename_column(df_USDJPY,'USDJPY Curncy.3', 'USDJPY')\nrename_column(df_USDJPY,'USDJPY Curncy.4', 'USDJPY')\nrename_column(df_USDJPY,'USDJPY Curncy.5', 'USDJPY')\nrename_column(df_USDJPY,'USDJPY Curncy.6', 'USDJPY')\nrename_column(df_USDJPY,'USDJPY Curncy.7', 'USDJPY')\nrename_column(df_USDJPY,'USDJPY Curncy.8', 'USDJPY')\n\nprint(df_USDJPY)\n\n# function for calling the rename functions across all the swaps\n\ndef call_rename(df, str_swap):\n    for i in range(9):\n        rename_column(df, f'{str_swap}.{i}', 'str_swap')\n\n        for _ in range(9):\n            return rename_column\n\nprint(call_rename(df_USDCHF, 'USDCHF Curncy'))\n\n\n# possible reasons\n# 1. After calling the first function rename_column, the changes arent being stored\n# 2. After calling call_rename, call_rename is not returning the dataframe properly\n# \n\n\nfor i in range(8):\n        print('USDJPY')\n\nfor j in range(9):\n    print(f'USDJPY.{j}')\n"

In [171]:
'''
# to call rename_column over all the timestamps
def call_rename(df, str_swap):
    list_space = ['' , 1,2,3,4,5,6,7,8,9]
    for i in range(9):
        rename_column(df, f'{str_swap}.{i}', str_swap)
    return df
'''
def call_rename(df, str_swap):
    list_space = ['' , 1,2,3,4,5,6,7,8,9]
    for i in range(9):
        if i==0:
            rename_column(df, str_swap+' Curncy', str_swap)
            continue
        else:
            rename_column(df, f'{str_swap} Curncy.{i}', str_swap)
         
    return df




print(call_rename(df_USDJPY, 'USDJPY'))

print(call_rename(df_USDCHF, 'USDCHF'))
print(call_rename(df_USDGBP, 'USDGBP'))
print(call_rename(df_USDEUR, 'USDEUR'))
print(call_rename(df_USDINR, 'USDINR'))
print(call_rename(df_XAUUSD, 'XAU'))

                      NaN                          USDJPY_1W  \
0                   DATES  dropna(px_last(end=0D,start=-1W))
1     2025-07-10 00:00:00                             146.26
2     2025-07-11 00:00:00                             147.43
3     2025-07-13 00:00:00                             147.19
4     2025-07-14 00:00:00                             147.72
...                   ...                                ...
7302                  NaN                                NaN
7303                  NaN                                NaN
7304                  NaN                                NaN
7305                  NaN                                NaN
7306                  NaN                                NaN

                    nan.1                              USDJPY_1M  \
0                   DATES  dropna(px_last(end='0D',start='-1M'))
1     2025-06-17 00:00:00                                 145.29
2     2025-06-18 00:00:00                                 145.13
3     2025-06-19 00:00:00                                 145.45
4     2025-06-20 00:00:00                                 146.09
...                   ...                                    ...
7302                  NaN                                    NaN
7303                  NaN                                    NaN
7304                  NaN                                    NaN
7305                  NaN                                    NaN
7306                  NaN                                    NaN

                    nan.2                                     USDJPY_1Q  \
0                   DATES  dropna(px_last(dates=range(-1Q,0D),per='D'))
1     2025-04-17 00:00:00                                        142.43
2     2025-04-18 00:00:00                                        142.18
3     2025-04-20 00:00:00                                        142.13
4     2025-04-21 00:00:00                                        140.86
...                   ...                                           ...
7302                  NaN                                           NaN
7303                  NaN                                           NaN
7304                  NaN                                           NaN
7305                  NaN                                           NaN
7306                  NaN                                           NaN

                    nan.3                                   USDJPY_1Y  \
0                   DATES  dropna(px_last(dates=range(-1y,0d),per=D))
1     2024-07-17 00:00:00                                       156.2
2     2024-07-18 00:00:00                                      157.37
3     2024-07-19 00:00:00                                      157.48
4     2024-07-21 00:00:00                                      157.44
...                   ...                                         ...
7302                  NaN                                         NaN
7303                  NaN                                         NaN
7304                  NaN                                         NaN
7305                  NaN                                         NaN
7306                  NaN                                         NaN

                    nan.4                                   USDJPY_2Y  \
0                   DATES  dropna(px_last(dates=range(-2y,0d),per=D))
1     2023-07-17 00:00:00                                      138.71
2     2023-07-18 00:00:00                                      138.83
3     2023-07-19 00:00:00                                      139.65
4     2023-07-20 00:00:00                                      140.07
...                   ...                                         ...
7302                  NaN                                         NaN
7303                  NaN                                         NaN
7304                  NaN                                         NaN
7305                  NaN                                         NaN
7306                  NaN                                         NaN

                    nan.5                                   USDJPY_5Y  \
0                   DATES  dropna(px_last(dates=range(-5y,0d),per=D))
1     2020-07-17 00:00:00                                      107.02
2     2020-07-19 00:00:00                                      107.13
3     2020-07-20 00:00:00                                      107.27
4     2020-07-21 00:00:00                                       106.8
...                   ...                                         ...
7302                  NaN                                         NaN
7303                  NaN                                         NaN
7304                  NaN                                         NaN
7305                  NaN                                         NaN
7306                  NaN                                         NaN

                    nan.6                           USDJPY_10Y  \
0                   DATES  px_last(dates=range(-10y,0d),per=D)
1     2015-07-17 00:00:00                               124.09
2     2015-07-18 00:00:00                                  NaN
3     2015-07-19 00:00:00                               124.03
4     2015-07-20 00:00:00                               124.27
...                   ...                                  ...
7302                  NaN                                  NaN
7303                  NaN                                  NaN
7304                  NaN                                  NaN
7305                  NaN                                  NaN
7306                  NaN                                  NaN

                    nan.7                           USDJPY_15Y  \
0                   DATES  px_last(dates=range(-15y,0d),per=D)
1     2010-07-17 00:00:00                                  NaN
2     2010-07-18 00:00:00                                86.53
3     2010-07-19 00:00:00                                86.69
4     2010-07-20 00:00:00                                87.51
...                   ...                                  ...
7302                  NaN                                  NaN
7303                  NaN                                  NaN
7304                  NaN                                  NaN
7305                  NaN                                  NaN
7306                  NaN                                  NaN

                    nan.8                           USDJPY_20Y
0                   DATES  px_last(dates=range(-20y,0d),per=D)
1     2005-07-17 00:00:00                                  NaN
2     2005-07-18 00:00:00                               111.98
3     2005-07-19 00:00:00                               112.69
4     2005-07-20 00:00:00                                112.9
...                   ...                                  ...
7302  2025-07-13 00:00:00                               147.19
7303  2025-07-14 00:00:00                               147.72
7304  2025-07-15 00:00:00                               148.88
7305  2025-07-16 00:00:00                               147.88
7306  2025-07-17 00:00:00                               148.81

[7307 rows x 18 columns]
                      NaN                                   USDCHF_1W  \
0                   DATES  dropna(px_last(dates=range(-1w,0d),per=D))
1     2025-07-10 00:00:00                                      0.7971
2     2025-07-11 00:00:00                                      0.7966
3     2025-07-13 00:00:00                                      0.7977
4     2025-07-14 00:00:00                                      0.7979
...                   ...                                         ...
6047                  NaN                                         NaN
6048                  NaN                                         NaN
6049                  NaN                                         NaN
6050                  NaN                                         NaN
6051                  NaN                                         NaN

                    nan.1                                   USDCHF_1M  \
0                   DATES  dropna(px_last(dates=range(-1m,0d),per=D))
1     2025-06-17 00:00:00                                      0.8163
2     2025-06-18 00:00:00                                      0.8187
3     2025-06-19 00:00:00                                      0.8168
4     2025-06-20 00:00:00                                      0.8178
...                   ...                                         ...
6047                  NaN                                         NaN
6048                  NaN                                         NaN
6049                  NaN                                         NaN
6050                  NaN                                         NaN
6051                  NaN                                         NaN

                    nan.2                                   USDCHF_1Q  \
0                   DATES  dropna(px_last(dates=range(-1q,0d),per=D))
1     2025-04-17 00:00:00                                      0.8196
2     2025-04-18 00:00:00                                      0.8168
3     2025-04-20 00:00:00                                      0.8179
4     2025-04-21 00:00:00                                      0.8091
...                   ...                                         ...
6047                  NaN                                         NaN
6048                  NaN                                         NaN
6049                  NaN                                         NaN
6050                  NaN                                         NaN
6051                  NaN                                         NaN

                    nan.3                                   USDCHF_1Y  \
0                   DATES  dropna(px_last(dates=range(-1y,0d),per=D))
1     2024-07-17 00:00:00                                      0.8834
2     2024-07-18 00:00:00                                      0.8877
3     2024-07-19 00:00:00                                      0.8889
4     2024-07-21 00:00:00                                      0.8881
...                   ...                                         ...
6047                  NaN                                         NaN
6048                  NaN                                         NaN
6049                  NaN                                         NaN
6050                  NaN                                         NaN
6051                  NaN                                         NaN

                    nan.4                                   USDCHF_2Y  \
0                   DATES  dropna(px_last(dates=range(-2y,0d),per=D))
1     2023-07-17 00:00:00                                      0.8605
2     2023-07-18 00:00:00                                      0.8577
3     2023-07-19 00:00:00                                      0.8587
4     2023-07-20 00:00:00                                      0.8668
...                   ...                                         ...
6047                  NaN                                         NaN
6048                  NaN                                         NaN
6049                  NaN                                         NaN
6050                  NaN                                         NaN
6051                  NaN                                         NaN

                    nan.5                                   USDCHF_5Y  \
0                   DATES  dropna(px_last(dates=range(-5y,0d),per=D))
1     2020-07-17 00:00:00                                      0.9386
2     2020-07-19 00:00:00                                      0.9407
3     2020-07-20 00:00:00                                      0.9389
4     2020-07-21 00:00:00                                      0.9332
...                   ...                                         ...
6047                  NaN                                         NaN
6048                  NaN                                         NaN
6049                  NaN                                         NaN
6050                  NaN                                         NaN
6051                  NaN                                         NaN

                    nan.6                                   USDCHF_10Y  \
0                   DATES  dropna(px_last(dates=range(-10y,0d),per=D))
1     2015-07-17 00:00:00                                       0.9615
2     2015-07-19 00:00:00                                       0.9614
3     2015-07-20 00:00:00                                       0.9646
4     2015-07-21 00:00:00                                       0.9584
...                   ...                                          ...
6047                  NaN                                          NaN
6048                  NaN                                          NaN
6049                  NaN                                          NaN
6050                  NaN                                          NaN
6051                  NaN                                          NaN

                    nan.7                                   USDCHF_15Y  \
0                   DATES  dropna(px_last(dates=range(-15y,0d),per=D))
1     2010-07-18 00:00:00                                        1.049
2     2010-07-19 00:00:00                                        1.055
3     2010-07-20 00:00:00                                       1.0528
4     2010-07-21 00:00:00                                       1.0514
...                   ...                                          ...
6047                  NaN                                          NaN
6048                  NaN                                          NaN
6049                  NaN                                          NaN
6050                  NaN                                          NaN
6051                  NaN                                          NaN

                    nan.8                                   USDCHF_20Y
0                   DATES  dropna(px_last(dates=range(-20y,0d),per=D))
1     2005-07-18 00:00:00                                       1.2947
2     2005-07-19 00:00:00                                          1.3
3     2005-07-20 00:00:00                                       1.2868
4     2005-07-21 00:00:00                                        1.285
...                   ...                                          ...
6047  2025-07-13 00:00:00                                       0.7977
6048  2025-07-14 00:00:00                                       0.7979
6049  2025-07-15 00:00:00                                       0.8017
6050                45854                                       0.8008
6051                45855                                       0.8047

[6052 rows x 18 columns]
                      NaN                                   USDGBP_1W  \
0                   DATES  dropna(px_last(dates=range(-1w,0d),per=D))
1     2025-07-10 00:00:00                                      0.7365
2     2025-07-11 00:00:00                                      0.7411
3     2025-07-13 00:00:00                                      0.7412
4     2025-07-14 00:00:00                                      0.7448
...                   ...                                         ...
6052                  NaN                                         NaN
6053                  NaN                                         NaN
6054                  NaN                                         NaN
6055                  NaN                                         NaN
6056                  NaN                                         NaN

                    nan.1                                   USDGBP_1M  \
0                   DATES  dropna(px_last(dates=range(-1m,0d),per=D))
1     2025-06-17 00:00:00                                      0.7447
2     2025-06-18 00:00:00                                       0.745
3     2025-06-19 00:00:00                                      0.7427
4     2025-06-20 00:00:00                                      0.7434
...                   ...                                         ...
6052                  NaN                                         NaN
6053                  NaN                                         NaN
6054                  NaN                                         NaN
6055                  NaN                                         NaN
6056                  NaN                                         NaN

                    nan.2                                   USDGBP_1Q  \
0                   DATES  dropna(px_last(dates=range(-1q,0d),per=D))
1     2025-04-17 00:00:00                                      0.7538
2     2025-04-18 00:00:00                                      0.7521
3     2025-04-20 00:00:00                                      0.7531
4     2025-04-21 00:00:00                                      0.7474
...                   ...                                         ...
6052                  NaN                                         NaN
6053                  NaN                                         NaN
6054                  NaN                                         NaN
6055                  NaN                                         NaN
6056                  NaN                                         NaN

                    nan.3                                   USDGBP_1Y  \
0                   DATES  dropna(px_last(dates=range(-1y,0d),per=D))
1     2024-07-17 00:00:00                                      0.7687
2     2024-07-18 00:00:00                                      0.7726
3     2024-07-19 00:00:00                                      0.7744
4     2024-07-21 00:00:00                                       0.774
...                   ...                                         ...
6052                  NaN                                         NaN
6053                  NaN                                         NaN
6054                  NaN                                         NaN
6055                  NaN                                         NaN
6056                  NaN                                         NaN

                    nan.4                                   USDGBP_2Y  \
0                   DATES  dropna(px_last(dates=range(-2y,0d),per=D))
1     2023-07-17 00:00:00                                      0.7649
2     2023-07-18 00:00:00                                      0.7671
3     2023-07-19 00:00:00                                      0.7728
4     2023-07-20 00:00:00                                      0.7771
...                   ...                                         ...
6052                  NaN                                         NaN
6053                  NaN                                         NaN
6054                  NaN                                         NaN
6055                  NaN                                         NaN
6056                  NaN                                         NaN

                    nan.5                                   USDGBP_5Y  \
0                   DATES  dropna(px_last(dates=range(-5y,0d),per=D))
1     2020-07-17 00:00:00                                      0.7957
2     2020-07-19 00:00:00                                      0.7958
3     2020-07-20 00:00:00                                      0.7898
4     2020-07-21 00:00:00                                      0.7854
...                   ...                                         ...
6052                  NaN                                         NaN
6053                  NaN                                         NaN
6054                  NaN                                         NaN
6055                  NaN                                         NaN
6056                  NaN                                         NaN


In [172]:
#renaming the dates using the same logic done for renaming the values columns
def rename_dates(df, str_column_name, str_new_name):
    time_periods = ['1W', '1M', '1Q', '1Y', '2Y', '5Y', '10Y', '15Y', '20Y']
    
    # Match suffix and assign new name accordingly
    for i in range(9):
        if f'.{i}' in str_column_name:
            new_col_name = str_new_name + '_' + time_periods[i] +'dates'
            df.rename(columns={str_column_name: new_col_name}, inplace=True)
            return df
            

    # If no .1 to .8 is found, assume it's the first (base) column
    df.rename(columns={str_column_name: str_new_name + '_' + time_periods[0] + 'dates'}, inplace=True)
    return df
print(rename_dates(df_USDJPY,'NaN', 'USDJPY_date'))

                      NaN                          USDJPY_1W  \
0                   DATES  dropna(px_last(end=0D,start=-1W))
1     2025-07-10 00:00:00                             146.26
2     2025-07-11 00:00:00                             147.43
3     2025-07-13 00:00:00                             147.19
4     2025-07-14 00:00:00                             147.72
...                   ...                                ...
7302                  NaN                                NaN
7303                  NaN                                NaN
7304                  NaN                                NaN
7305                  NaN                                NaN
7306                  NaN                                NaN

                    nan.1                              USDJPY_1M  \
0                   DATES  dropna(px_last(end='0D',start='-1M'))
1     2025-06-17 00:00:00                                 145.29
2     2025-06-18 00:00:00                                 145.13
3     2025-06-19 00:00:00                                 145.45
4     2025-06-20 00:00:00                                 146.09
...                   ...                                    ...
7302                  NaN                                    NaN
7303                  NaN                                    NaN
7304                  NaN                                    NaN
7305                  NaN                                    NaN
7306                  NaN                                    NaN

                    nan.2                                     USDJPY_1Q  \
0                   DATES  dropna(px_last(dates=range(-1Q,0D),per='D'))
1     2025-04-17 00:00:00                                        142.43
2     2025-04-18 00:00:00                                        142.18
3     2025-04-20 00:00:00                                        142.13
4     2025-04-21 00:00:00                                        140.86
...                   ...                                           ...
7302                  NaN                                           NaN
7303                  NaN                                           NaN
7304                  NaN                                           NaN
7305                  NaN                                           NaN
7306                  NaN                                           NaN

                    nan.3                                   USDJPY_1Y  \
0                   DATES  dropna(px_last(dates=range(-1y,0d),per=D))
1     2024-07-17 00:00:00                                       156.2
2     2024-07-18 00:00:00                                      157.37
3     2024-07-19 00:00:00                                      157.48
4     2024-07-21 00:00:00                                      157.44
...                   ...                                         ...
7302                  NaN                                         NaN
7303                  NaN                                         NaN
7304                  NaN                                         NaN
7305                  NaN                                         NaN
7306                  NaN                                         NaN

                    nan.4                                   USDJPY_2Y  \
0                   DATES  dropna(px_last(dates=range(-2y,0d),per=D))
1     2023-07-17 00:00:00                                      138.71
2     2023-07-18 00:00:00                                      138.83
3     2023-07-19 00:00:00                                      139.65
4     2023-07-20 00:00:00                                      140.07
...                   ...                                         ...
7302                  NaN                                         NaN
7303                  NaN                                         NaN
7304                  NaN                                         NaN
7305                  NaN                                         NaN
7306                  NaN                                         NaN

                    nan.5                                   USDJPY_5Y  \
0                   DATES  dropna(px_last(dates=range(-5y,0d),per=D))
1     2020-07-17 00:00:00                                      107.02
2     2020-07-19 00:00:00                                      107.13
3     2020-07-20 00:00:00                                      107.27
4     2020-07-21 00:00:00                                       106.8
...                   ...                                         ...
7302                  NaN                                         NaN
7303                  NaN                                         NaN
7304                  NaN                                         NaN
7305                  NaN                                         NaN
7306                  NaN                                         NaN

                    nan.6                           USDJPY_10Y  \
0                   DATES  px_last(dates=range(-10y,0d),per=D)
1     2015-07-17 00:00:00                               124.09
2     2015-07-18 00:00:00                                  NaN
3     2015-07-19 00:00:00                               124.03
4     2015-07-20 00:00:00                               124.27
...                   ...                                  ...
7302                  NaN                                  NaN
7303                  NaN                                  NaN
7304                  NaN                                  NaN
7305                  NaN                                  NaN
7306                  NaN                                  NaN

                    nan.7                           USDJPY_15Y  \
0                   DATES  px_last(dates=range(-15y,0d),per=D)
1     2010-07-17 00:00:00                                  NaN
2     2010-07-18 00:00:00                                86.53
3     2010-07-19 00:00:00                                86.69
4     2010-07-20 00:00:00                                87.51
...                   ...                                  ...
7302                  NaN                                  NaN
7303                  NaN                                  NaN
7304                  NaN                                  NaN
7305                  NaN                                  NaN
7306                  NaN                                  NaN

                    nan.8                           USDJPY_20Y
0                   DATES  px_last(dates=range(-20y,0d),per=D)
1     2005-07-17 00:00:00                                  NaN
2     2005-07-18 00:00:00                               111.98
3     2005-07-19 00:00:00                               112.69
4     2005-07-20 00:00:00                                112.9
...                   ...                                  ...
7302  2025-07-13 00:00:00                               147.19
7303  2025-07-14 00:00:00                               147.72
7304  2025-07-15 00:00:00                               148.88
7305  2025-07-16 00:00:00                               147.88
7306  2025-07-17 00:00:00                               148.81

[7307 rows x 18 columns]

In [173]:
#tomorrows task, 
#now that the columns are currectly named, we can move on to cleaning NA data
# look at pandas and numpy for drop NA, after this we can move on to EDA as most data on the terminal is clean
# for each column on the pd df, pandas only recognizes rectangular data frames. This is because pandas loads like that, it really cannot do much
# agenda 
# 1. change the dates
# 1. drop all N/A values
# 2. make the frequency of the data equal

The next part of this is seperating each time frame into multiple data frames, i will create a function for this as if i dont it will require a lot of code

In [174]:
# changing the dates. test out using rename_column and changing the else staterment to include the 
# first float nan column
def rename_column(df, str_column_name, str_new_name):
    time_periods = ['1W', '1M', '1Q', '1Y', '2Y', '5Y', '10Y', '15Y', '20Y']
    
    # Match suffix and assign new name accordingly
    for i in range(1, 9):
        if f'.{i}' in str_column_name:
            new_col_name = str_new_name + '_' + 'dates_'+time_periods[i]
            df.rename(columns={str_column_name: new_col_name}, inplace=True)
            return df
        else: #renaming the first column as it is recognized as a float, rather #than a string
            df.columns.values[0] = str_new_name + '_dates_' + time_periods[0]
'''

def call_dates_rename():
    df = [df_USDCHF, df_USDEUR, df_USDGBP, df_USDINR, df_USDJPY, df_XAUUSD]
    
    string_appended = 'nan'
    for i in df:
'''

#creating the list to find the index of the column with the dates
def call_dates_rename():
    string_dates_form = 'nan'
    list_dates = []
    for i in range(1,9):
        date_format = string_dates_form+f'.{i}'
        list_dates.append(date_format) #always append in the for loop
    
    #then return outside the function
    return list_dates
#to call the function
list_dates = call_dates_rename()

# calling the function 
def call(df, prefix):
    for j in list_dates:
            rename_column(df, f'{j}',  prefix)

call(df_USDJPY, 'USDJPY')
call(df_USDCHF, 'USDCHF')
call(df_USDGBP, 'USDGBP')
call(df_USDEUR, 'USDEUR')
call(df_USDINR, 'USDINR')
call(df_XAUUSD, 'XAU')






#callign the  by equating it to the empty list

#steps to append a list
#1. Append the list 
#2. #return the list
#3. equate the empty list to the function

#seperating each of the swaps to different dataframes by time. Lets seperate them by df['column_name']. For multiple columns we must encolose the column name by two square brackets. The reason for two square brackets is cause on set of them is a list of the column names, and another is the dataframe operator

In [175]:
#if i was to manually seperate them it would look like
#df_USDJPY[['USDJPY_dates_1W','USDJPY_1W']]
#df_USDJPY[['USDJPY_dates_1M','USDJPY_1M']]
#... for all the timeframes and for all the dfs

In [176]:
df_USDJPY

,USDJPY_dates_1W,USDJPY_1W,USDJPY_dates_1M,USDJPY_1M,USDJPY_dates_1Q,USDJPY_1Q,USDJPY_dates_1Y,USDJPY_1Y,USDJPY_dates_2Y,USDJPY_2Y,USDJPY_dates_5Y,USDJPY_5Y,USDJPY_dates_10Y,USDJPY_10Y,USDJPY_dates_15Y,USDJPY_15Y,USDJPY_dates_20Y,USDJPY_20Y
0,DATES,"dropna(px_last(end=0D,start=-1W))",DATES,"dropna(px_last(end='0D',start='-1M'))",DATES,"dropna(px_last(dates=range(-1Q,0D),per='D'))",DATES,"dropna(px_last(dates=range(-1y,0d),per=D))",DATES,"dropna(px_last(dates=range(-2y,0d),per=D))",DATES,"dropna(px_last(dates=range(-5y,0d),per=D))",DATES,"px_last(dates=range(-10y,0d),per=D)",DATES,"px_last(dates=range(-15y,0d),per=D)",DATES,"px_last(dates=range(-20y,0d),per=D)"
1,2025-07-10 00:00:00,146.26,2025-06-17 00:00:00,145.29,2025-04-17 00:00:00,142.43,2024-07-17 00:00:00,156.2,2023-07-17 00:00:00,138.71,2020-07-17 00:00:00,107.02,2015-07-17 00:00:00,124.09,2010-07-17 00:00:00,NaN,2005-07-17 00:00:00,NaN
2,2025-07-11 00:00:00,147.43,2025-06-18 00:00:00,145.13,2025-04-18 00:00:00,142.18,2024-07-18 00:00:00,157.37,2023-07-18 00:00:00,138.83,2020-07-19 00:00:00,107.13,2015-07-18 00:00:00,NaN,2010-07-18 00:00:00,86.53,2005-07-18 00:00:00,111.98
3,2025-07-13 00:00:00,147.19,2025-06-19 00:00:00,145.45,2025-04-20 00:00:00,142.13,2024-07-19 00:00:00,157.48,2023-07-19 00:00:00,139.65,2020-07-20 00:00:00,107.27,2015-07-19 00:00:00,124.03,2010-07-19 00:00:00,86.69,2005-07-19 00:00:00,112.69
4,2025-07-14 00:00:00,147.72,2025-06-20 00:00:00,146.09,2025-04-21 00:00:00,140.86,2024-07-21 00:00:00,157.44,2023-07-20 00:00:00,140.07,2020-07-21 00:00:00,106.8,2015-07-20 00:00:00,124.27,2010-07-20 00:00:00,87.51,2005-07-20 00:00:00,112.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-13 00:00:00,147.19
7303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-14 00:00:00,147.72
7304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-15 00:00:00,148.88
7305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-16 00:00:00,147.88
7306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-07-17 00:00:00,148.81

In [177]:
groupby_USDJPY.head()

NameError: name 'groupby_USDJPY' is not defined

In [ ]:
def seperation_operator(time, dfs):
    for i in time:
        for j in dfs

In [ ]:

    swaps = ['USDJPY','USDCHF', 'USDGBP', 'USDEUR', 'USDINR', 'XAUUSD']
    df_list = [df_USDJPY, df_USDCHF, df_USDGBP, df_USDEUR, df_USDINR, df_XAUUSD]
    time_periods = ['1W', '1M', '1Q', '1Y', '2Y', '5Y', '10Y', '15Y', '20Y']

In [ ]:
df_USDCHF

In [ ]:
listd_dates

In [ ]:
list_dates

In [ ]:
time_periods

In [ ]:
swaps

In [ ]:
USDJPY_dates_1W

In [ ]:
df_USDJPY.columns

In [ ]:
print(swaps)

In [ ]:
def seperation_operator(df):
            for j in range(len(df.columns)):
                   df_USDJPY_j = 
            return df
seperation_operator(df_USDJPY)

In [ ]:
df_list = [df_USDJPY, df_USDCHF, df_USDGBP, df_USDEUR, df_USDINR, df_XAUUSD]
time_periods = ['1W', '1M', '1Q', '1Y', '2Y', '5Y', '10Y', '15Y', '20Y']
swaps = ['USDJPY', 'USDCHF', 'USDGBP', 'USDEUR', 'USDINR', 'XAUUSD']
# since the lists are not equal in size, when running the triple nested loop, 
# python is having an issue parsing through the lists, for example swaps 
# and df_list have the same length, but time_periods is longer

#trying to break it down, if i can remove the dfs, this will help me solve the integral issue
#later we will try remove one of the othe rparameters as well

In [ ]:
df_USDJPY[['USDJPY_dates_1W', 'USDJPY_1W']]

In [ ]:
def separation_operator():
    subsets = []
    for i in swaps:
        for j in time_periods:
            for df in df_list:
                try:
                    subset = df[[f'{i}_dates_{j}', f'{i}_{j}']]
                    subsets.append(subset)
                    return subsets
                except KeyError:
                    # One or both columns are missing; skip
                    continue
    return subsets
print(seperation_operator(df_USDJPY))

In [ ]:
for idx, df in enumerate(df_list):
    print(f"df{idx} columns: {df.columns.tolist()}")

In [ ]:
def split_USDJPY_columns(df):
    split_dataframes = {}

    for i in range(0, len(df.columns), 2):
        date_col = df.columns[i]
        value_col = df.columns[i + 1]

        # Extract period (e.g., '1W' from 'USDJPY_1W')
        try:
            period = value_col.split('_')[-1]
        except IndexError:
            continue
    for j in swaps:

        key = f'{j}_{period}'
        split_dataframes[key] = df[[date_col, value_col]].copy()

    return split_dataframes

In [ ]:
def split_swap_columns(df):
    split_dataframes = {}

    for i in range(0, len(df.columns), 2):
        date_col = df.columns[i]
        value_col = df.columns[i + 1]

        # Extract the swap name and time period from the value_col
        try:
            parts = value_col.split('_')
            swap = parts[0]
            period = parts[-1]
            key = f"{swap}_{period}"
        except IndexError:
            continue

        split_dataframes[key] = df[[date_col, value_col]].copy()

    return split_dataframes

In [ ]:
dfs=split_swap_columns(df_USDJPY)
USDJPY_1W = dfs[ 'USDJPY_1W']

In [ ]:
print(USDJPY_1W)

In [ ]:
df_list = ['df_USDJPY', 'df_USDCHF', 'df_USDGBP', 'df_USDEUR', 'df_USDINR', 'df_XAUUSD']

In [ ]:

#dropping the first row for all the dataframes
# seperate into multiple dataframes by timeframes
# drop all Nan rows
# conduct the correlation analysis and other EDA formats-By the end of the weekend
'''
!git clone https://github.com/Adnan-Anwar-Data-enthusiast/Currency-speculation.git
'''

In [ ]:
!pip install numpy pandas
!pip install openpyxl #attribute to install excel reading
import pandas as pd
import numpy as np

In [ ]:
import os 
print(os.getcwd())

In [ ]:
df_whole = pd.read_excel(r'/home/jovyan/GIA project/2. Currency Correlation/Currency swaps data.xlsx')
with pd.ExcelFile(r'/home/jovyan/GIA project/2. Currency Correlation/Currency swaps data.xlsx') as xls:
    df_USDJPY = pd.read_excel(xls, 'USDJPY')
    df_USDCHF = pd.read_excel(xls, 'USDCHF')
    df_USDGBP = pd.read_excel(xls, 'USDGBP')
    df_USDEUR = pd.read_excel(xls,'USDEUR')
    df_USDINR = pd.read_excel(xls,'USDINR')
    df_XAUUSD = pd.read_excel(xls,'XAUUSD')
df_USDJPY.head(n=20)
df_list = [df_USDJPY, df_USDCHF, df_USDGBP, df_USDEUR, df_USDINR, df_XAUUSD]

In [ ]:
#cleaning missing data. In my method i seperated the initial currency dataframe into 5 seperate data frames. Now since pandas does does not recognize
# different timegframes, i have to fill in my data and clean the missing data from each time frame across all the swaps

In [ ]:

df_USDJPY['USDJPY Curncy'].rename('USDJPY_1W')
df_USDJPY['USDJPY Curncy.2'].rename('USDJPY_1M')

def rename_columns(df,str_column_name, str_new_name):
    time_periods = ['1W', '1M', '1Q', '1Y', '2Y', '5Y', '10Y', '15Y', '20Y']
    for i in range(8):
        if '.1' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[1])
        if '.2' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[2])
        if '.3' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[3])
        if '.4' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[4])
        if '.5' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[5])
        if '.6' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[6])
        if '.7' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[7])
        if '.8' in str_column_name:
            df[str_column_name].rename(str_new_name + time_periods[8])
            
        else: 
            df[str_column_name].rename(str_new_name + time_periods[0])
            
    new = rename_columns(df_USDJPY,'USDJPY Curncy.6', 'USDJPY')
    print(new)
'''
Now find a way to parse through the columns in the pandas dataframe
'''

def rename_columns(df, str_pair_currency):
    for i in range(8):
        str_pair_currency + '.' + str(i+1)

In [ ]:
def rename_column(df, str_column_name, str_new_name):
    time_periods = ['1W', '1M', '1Q', '1Y', '2Y', '5Y', '10Y', '15Y', '20Y']
    
    # Match suffix and assign new name accordingly
    for i in range(1, 9):
        if f'.{i}' in str_column_name:
            new_col_name = str_new_name + '_' + time_periods[i]
            df.rename(columns={str_column_name: new_col_name}, inplace=True)
            return df
            

    # If no .1 to .8 is found, assume it's the first (base) column
    df.rename(columns={str_column_name: str_new_name + '_' + time_periods[0]}, inplace=True)
    return df



'''
rename_column(df_USDJPY,'USDJPY Curncy.1', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.2', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.3', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.4', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.5', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.6', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.7', 'USDJPY')
rename_column(df_USDJPY,'USDJPY Curncy.8', 'USDJPY')

print(df_USDJPY)

# function for calling the rename functions across all the swaps

def call_rename(df, str_swap):
    for i in range(9):
        rename_column(df, f'{str_swap}.{i}', 'str_swap')
        
        for _ in range(9):
            return rename_column

print(call_rename(df_USDCHF, 'USDCHF Curncy'))


# possible reasons
# 1. After calling the first function rename_column, the changes arent being stored
# 2. After calling call_rename, call_rename is not returning the dataframe properly
# 


for i in range(8):
        print('USDJPY')

for j in range(9):
    print(f'USDJPY.{j}')
'''

In [ ]:
'''
# to call rename_column over all the timestamps
def call_rename(df, str_swap):
    list_space = ['' , 1,2,3,4,5,6,7,8,9]
    for i in range(9):
        rename_column(df, f'{str_swap}.{i}', str_swap)
    return df
'''
def call_rename(df, str_swap):
    list_space = ['' , 1,2,3,4,5,6,7,8,9]
    for i in range(9):
        if i==0:
            rename_column(df, str_swap+' Curncy', str_swap)
            continue
        else:
            rename_column(df, f'{str_swap} Curncy.{i}', str_swap)
         
    return df




print(call_rename(df_USDJPY, 'USDJPY'))

print(call_rename(df_USDCHF, 'USDCHF'))
print(call_rename(df_USDGBP, 'USDGBP'))
print(call_rename(df_USDEUR, 'USDEUR'))
print(call_rename(df_USDINR, 'USDINR'))
print(call_rename(df_XAUUSD, 'XAU'))

In [ ]:
#renaming the dates using the same logic done for renaming the values columns
def rename_dates(df, str_column_name, str_new_name):
    time_periods = ['1W', '1M', '1Q', '1Y', '2Y', '5Y', '10Y', '15Y', '20Y']
    
    # Match suffix and assign new name accordingly
    for i in range(9):
        if f'.{i}' in str_column_name:
            new_col_name = str_new_name + '_' + time_periods[i] +'dates'
            df.rename(columns={str_column_name: new_col_name}, inplace=True)
            return df
            

    # If no .1 to .8 is found, assume it's the first (base) column
    df.rename(columns={str_column_name: str_new_name + '_' + time_periods[0] + 'dates'}, inplace=True)
    return df
print(rename_dates(df_USDJPY,'NaN', 'USDJPY_date'))

In [ ]:
#tomorrows task, 
#now that the columns are currectly named, we can move on to cleaning NA data
# look at pandas and numpy for drop NA, after this we can move on to EDA as most data on the terminal is clean
# for each column on the pd df, pandas only recognizes rectangular data frames. This is because pandas loads like that, it really cannot do much
# agenda 
# 1. change the dates
# 1. drop all N/A values
# 2. make the frequency of the data equal

The next part of this is seperating each time frame into multiple data frames, i will create a function for this as if i dont it will require a lot of code

In [ ]:
# changing the dates. test out using rename_column and changing the else staterment to include the 
# first float nan column
def rename_column(df, str_column_name, str_new_name):
    time_periods = ['1W', '1M', '1Q', '1Y', '2Y', '5Y', '10Y', '15Y', '20Y']
    
    # Match suffix and assign new name accordingly
    for i in range(1, 9):
        if f'.{i}' in str_column_name:
            new_col_name = str_new_name + '_' + 'dates_'+time_periods[i]
            df.rename(columns={str_column_name: new_col_name}, inplace=True)
            return df
        else: #renaming the first column as it is recognized as a float, rather #than a string
            df.columns.values[0] = str_new_name + '_dates_' + time_periods[0]
'''

def call_dates_rename():
    df = [df_USDCHF, df_USDEUR, df_USDGBP, df_USDINR, df_USDJPY, df_XAUUSD]
    
    string_appended = 'nan'
    for i in df:
'''

#creating the list to find the index of the column with the dates
def call_dates_rename():
    string_dates_form = 'nan'
    list_dates = []
    for i in range(1,9):
        date_format = string_dates_form+f'.{i}'
        list_dates.append(date_format) #always append in the for loop
    
    #then return outside the function
    return list_dates
#to call the function
list_dates = call_dates_rename()

# calling the function 
def call(df, prefix):
    for j in list_dates:
            rename_column(df, f'{j}',  prefix)

call(df_USDJPY, 'USDJPY')
call(df_USDCHF, 'USDCHF')
call(df_USDGBP, 'USDGBP')
call(df_USDEUR, 'USDEUR')
call(df_USDINR, 'USDINR')
call(df_XAUUSD, 'XAU')






#callign the  by equating it to the empty list

#steps to append a list
#1. Append the list 
#2. #return the list
#3. equate the empty list to the function

#seperating each of the swaps to different dataframes by time. Lets seperate them by df['column_name']. For multiple columns we must encolose the column name by two square brackets. The reason for two square brackets is cause on set of them is a list of the column names, and another is the dataframe operator

In [ ]:
#if i was to manually seperate them it would look like
#df_USDJPY[['USDJPY_dates_1W','USDJPY_1W']]
#df_USDJPY[['USDJPY_dates_1M','USDJPY_1M']]
#... for all the timeframes and for all the dfs

In [ ]:
time_periods = ['1W', '1M', '1Q', '1Y', '2Y', '5Y', '10Y', '15Y', '20Y']
dfs = ['df_USDJPY', 'df_USDCHF', 'df_USDGBP', 'df_USDEUR', 'df_USDINR', 'df_XAUUSD']
swaps = ['USDJPY', 'USDCHF', 'USDGBP', 'USDEUR', 'USDINR', 'XAUUSD']
def split_columns(df):
    split_dataframes = {}

    for i in range(0, len(df.columns), 2):
        date_col = df.columns[i]
        value_col = df.columns[i + 1]

        # Extract period (e.g., '1W' from 'USDJPY_1W')
        try:
            period = value_col.split('_')[-1]
        except IndexError:
            continue
        for i in swaps:

            key = f'{i}_{period}'
            split_dataframes[key] = df[[date_col, value_col]].copy()

    return split_dataframes

#had some issues with the USDINR df, had some unnamed columns

In [178]:
df_USDINR = df_USDINR.loc[:, ~df_USDINR.columns.str.contains("Unnamed")]
def split_columns1(df):
    split_dataframes = {}
    for i in range(0, len(df.columns), 2):
        date_col = df.columns[i]
        value_col = df.columns[i + 1]
        # Extract swap and period from value_col, e.g. 'USDJPY_1W'
        try:
            parts = value_col.split('_')
            swap = parts[0]
            period = parts[-1]
            key = f'{swap}_{period}'
            split_dataframes[key] = df[[date_col, value_col]].copy()
        except Exception:
            continue
    return split_dataframes

# Example usage:

In [179]:
USDJPY = split_columns(df_USDJPY) 
USDCHF = split_columns(df_USDCHF)
USDGBP = split_columns(df_USDGBP)
USDEUR = split_columns(df_USDEUR)
USDINR = split_columns(df_USDINR)
XAUUSD = split_columns(df_XAUUSD)

In [183]:
USDINR

{'USDINR_1W':           USDINR_dates_1W                                   USDINR_1W
 0                   DATES  dropna(px_last(dates=range(-1w,0d),per=D))
 1     2025-07-10 00:00:00                                      85.645
 2     2025-07-11 00:00:00                                     85.8025
 3     2025-07-14 00:00:00                                     85.9925
 4     2025-07-15 00:00:00                                      85.815
 ...                   ...                                         ...
 4876                  NaN                                         NaN
 4877                  NaN                                         NaN
 4878                  NaN                                         NaN
 4879                  NaN                                         NaN
 4880                  NaN                                         NaN

 [4881 rows x 2 columns],
 'USDINR_1M':           USDINR_dates_1M                                   USDINR_1M
 0                   DATES  dropna(px_last(dates=range(-1m,0d),per=D))
 1     2025-06-17 00:00:00                                     86.2438
 2     2025-06-18 00:00:00                                     86.4725
 3     2025-06-19 00:00:00                                     86.7337
 4     2025-06-20 00:00:00                                       86.59
 ...                   ...                                         ...
 4876                  NaN                                         NaN
 4877                  NaN                                         NaN
 4878                  NaN                                         NaN
 4879                  NaN                                         NaN
 4880                  NaN                                         NaN

 [4881 rows x 2 columns],
 'USDINR_1Q':           USDINR_dates_1Q                                   USDINR_1Q
 0                   DATES  dropna(px_last(dates=range(-1q,0d),per=D))
 1     2025-04-17 00:00:00                                      85.375
 2     2025-04-21 00:00:00                                      85.135
 3     2025-04-22 00:00:00                                      85.195
 4     2025-04-23 00:00:00                                     85.4238
 ...                   ...                                         ...
 4876                  NaN                                         NaN
 4877                  NaN                                         NaN
 4878                  NaN                                         NaN
 4879                  NaN                                         NaN
 4880                  NaN                                         NaN

 [4881 rows x 2 columns],
 'USDINR_1Y':           USDINR_dates_1Y                                   USDINR_1Y
 0                   DATES  dropna(px_last(dates=range(-1y,0d),per=D))
 1     2024-07-18 00:00:00                                     83.6588
 2     2024-07-19 00:00:00                                       83.66
 3     2024-07-22 00:00:00                                      83.665
 4     2024-07-23 00:00:00                                     83.6937
 ...                   ...                                         ...
 4876                  NaN                                         NaN
 4877                  NaN                                         NaN
 4878                  NaN                                         NaN
 4879                  NaN                                         NaN
 4880                  NaN                                         NaN

 [4881 rows x 2 columns],
 'USDINR_2Y':           USDINR_dates_2Y                                   USDINR_2Y
 0                   DATES  dropna(px_last(dates=range(-2y,0d),per=D))
 1     2023-07-17 00:00:00                                     82.0537
 2     2023-07-18 00:00:00                                     82.0313
 3     2023-07-19 00:00:00                                      82.095
 4     2023-07-20 00:00:00                                     81.9938
 ...                   ...                                         ...
 4876                  NaN                                         NaN
 4877                  NaN                                         NaN
 4878                  NaN                                         NaN
 4879                  NaN                                         NaN
 4880                  NaN                                         NaN

 [4881 rows x 2 columns],
 'USDINR_5Y':           USDINR_dates_5Y                                   USDINR_5Y
 0                   DATES  dropna(px_last(dates=range(-5y,0d),per=D))
 1     2020-07-17 00:00:00                                       75.02
 2     2020-07-20 00:00:00                                     74.9162
 3     2020-07-21 00:00:00                                      74.745
 4     2020-07-22 00:00:00                                     74.7625
 ...                   ...                                         ...
 4876                  NaN                                         NaN
 4877                  NaN                                         NaN
 4878                  NaN                                         NaN
 4879                  NaN                                         NaN
 4880                  NaN                                         NaN

 [4881 rows x 2 columns],
 'USDINR_10Y':          USDINR_dates_10Y                                   USDINR_10Y
 0                   DATES  dropna(px_last(dates=range(-10y,0d),per=D))
 1     2015-07-17 00:00:00                                      63.4737
 2     2015-07-20 00:00:00                                      63.6675
 3     2015-07-21 00:00:00                                      63.5525
 4     2015-07-22 00:00:00                                        63.58
 ...                   ...                                          ...
 4876                  NaN                                          NaN
 4877                  NaN                                          NaN
 4878                  NaN                                          NaN
 4879                  NaN                                          NaN
 4880                  NaN                                          NaN

 [4881 rows x 2 columns],
 'USDINR_15Y':          USDINR_dates_15Y                                   USDINR_15Y
 0                   DATES  dropna(px_last(dates=range(-15y,0d),per=D))
 1     2010-07-19 00:00:00                                       47.125
 2     2010-07-20 00:00:00                                      47.3638
 3     2010-07-21 00:00:00                                      47.1669
 4     2010-07-22 00:00:00                                      47.1275
 ...                   ...                                          ...
 4876                  NaN                                          NaN
 4877                  NaN                                          NaN
 4878                  NaN                                          NaN
 4879                  NaN                                          NaN
 4880                  NaN                                          NaN

 [4881 rows x 2 columns],
 'USDINR_20Y':          USDINR_dates_20Y                                   USDINR_20Y
 0                   DATES  dropna(px_last(dates=range(-20y,0d),per=D))
 1     2005-07-18 00:00:00                                       43.545
 2     2005-07-19 00:00:00                                       43.545
 3     2005-07-20 00:00:00                                      43.5213
 4     2005-07-21 00:00:00                                       43.175
 ...                   ...                                          ...
 4876  2025-07-11 00:00:00                                      85.8025
 4877  2025-07-14 00:00:00                                      85.9925
 4878  2025-07-15 00:00:00                                       85.815
 4879  2025-07-16 00:00:00                                      85.9413
 4880  2025-07-17 00:00:00                                      86.0775

 [4881 rows x 2 columns]}

In [ ]:
#seperating into different columns
USDJPY_1W = USDJPY['USDJPY_1W']
USDJPY_1M = USDJPY['USDJPY_1M']
USDJPY_1Q = USDJPY['USDJPY_1Q']
USDJPY_1Y = USDJPY['USDJPY_1Y']
USDJPY_2Y = USDJPY['USDJPY_2Y']
USDJPY_5Y = USDJPY['USDJPY_5Y']
USDJPY_10Y = USDJPY['USDJPY_10Y']
USDJPY_15Y = USDJPY['USDJPY_15Y']
USDJPY_20Y = USDJPY['USDJPY_20Y']

USDCHF_1W = USDCHF['USDCHF_1W']
USDCHF_1M = USDCHF['USDCHF_1M']
USDCHF_1Q = USDCHF['USDCHF_1Q']
USDCHF_1Y = USDCHF['USDCHF_1Y']
USDCHF_2Y = USDCHF['USDCHF_2Y']
USDCHF_5Y = USDCHF['USDCHF_5Y']
USDCHF_10Y = USDCHF['USDCHF_10Y']
USDCHF_15Y = USDCHF['USDCHF_15Y']
USDCHF_20Y = USDCHF['USDCHF_20Y']

USDGBP_1W = USDGBP['USDGBP_1W']
USDGBP_1M = USDGBP['USDGBP_1M']
USDGBP_1Q = USDGBP['USDGBP_1Q']
USDGBP_1Y = USDGBP['USDGBP_1Y']
USDGBP_2Y = USDGBP['USDGBP_2Y']
USDGBP_5Y = USDGBP['USDGBP_5Y']
USDGBP_10Y = USDGBP['USDGBP_10Y']
USDGBP_15Y = USDGBP['USDGBP_15Y']
USDGBP_20Y = USDGBP['USDGBP_20Y']

USDEUR_1W = USDEUR['USDEUR_1W']
USDEUR_1M = USDEUR['USDEUR_1M']
USDEUR_1Q = USDEUR['USDEUR_1Q']
USDEUR_1Y = USDEUR['USDEUR_1Y']
USDEUR_2Y = USDEUR['USDEUR_2Y']
USDEUR_5Y = USDEUR['USDEUR_5Y']
USDEUR_10Y = USDEUR['USDEUR_10Y']
USDEUR_15Y = USDEUR['USDEUR_15Y']
USDEUR_20Y = USDEUR['USDEUR_20Y']

USDINR_1W = USDINR['USDINR_1W']
USDINR_1M = USDINR['USDINR_1M']
USDINR_1Q = USDINR['USDINR_1Q']
USDINR_1Y = USDINR['USDINR_1Y']
USDINR_2Y = USDINR['USDINR_2Y']
USDINR_5Y = USDINR['USDINR_5Y']
USDINR_10Y = USDINR['USDINR_10Y']
USDINR_15Y = USDINR['USDINR_15Y']
USDINR_20Y = USDINR['USDINR_20Y']

XAU_1W = XAUUSD['XAU_1W']
XAU_1M = XAUUSD['XAU_1M']
XAU_1Q = XAUUSD['XAU_1Q']
XAU_1Y = XAUUSD['XAU_1Y']
XAU_2Y = XAUUSD['XAU_2Y']
XAU_5Y = XAUUSD['XAU_5Y']
XAU_10Y = XAUUSD['XAU_10Y']
XAU_15Y = XAUUSD['XAU_15Y']
XAU_20Y = XAUUSD['XAU_20Y']

# Now we have all the individual dataframes for each currency and timeframe
# You can perform further analysis or save them as needed

         USDJPY_dates_10Y                           USDJPY_10Y
0                   DATES  px_last(dates=range(-10y,0d),per=D)
1     2015-07-17 00:00:00                               124.09
2     2015-07-18 00:00:00                                  NaN
3     2015-07-19 00:00:00                               124.03
4     2015-07-20 00:00:00                               124.27
...                   ...                                  ...
7302                  NaN                                  NaN
7303                  NaN                                  NaN
7304                  NaN                                  NaN
7305                  NaN                                  NaN
7306                  NaN                                  NaN

[7307 rows x 2 columns]

In [ ]:
def drop_na(dic):

       USDJPY_dates_1W                          USDJPY_1W
0                DATES  dropna(px_last(end=0D,start=-1W))
1  2025-07-10 00:00:00                             146.26
2  2025-07-11 00:00:00                             147.43
3  2025-07-13 00:00:00                             147.19
4  2025-07-14 00:00:00                             147.72
5  2025-07-15 00:00:00                             148.88
6  2025-07-16 00:00:00                             147.88
7  2025-07-17 00:00:00                             148.81